/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2021, 3:34:08 PM
    Author     : stick
*/
input[type=file]{
    display: none;
    text-align: center;
}



